<a href="https://colab.research.google.com/github/celeneheng/IS170_Binder/blob/1-Feature-Engineeering/HW2YadiraValenzuela.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import io
import pandas as pd

In [ ]:
from google.colab import files
df = files.upload()

Saving Lending_Equity1.csv to Lending_Equity1.csv

In [ ]:
df = pd.read_csv('Lending_Equity1.csv')
print(df)

    Reporting Year       Action Taken  Total Units     Loan Purpose  \
0             2022   6-Purchased loan            1     31-Refinance
1             2022  1-Loan originated            1     31-Refinance
2             2022   6-Purchased loan            1      32-Cash Out
3             2022  1-Loan originated            1     31-Refinance
4             2022   6-Purchased loan            1     31-Refinance
..             ...                ...          ...              ...
94            2022  1-Loan originated            1      32-Cash Out
95            2022  1-Loan originated            1      32-Cash Out
96            2022   6-Purchased loan            1     31-Refinance
97            2022  1-Loan originated            1  1-Home Purchase
98            2022   6-Purchased loan            1  1-Home Purchase

    Interest Rate  Loan Term (Months)  Loan Amount  Property Value  \
0            0.03                 360     286500.0          328000
1            0.03                 360     438000.0          495000
2            0.03                 360     243000.0          430000
3            0.03                 240     199600.0          365000
4            0.03                 240     267500.0          380000
..            ...                 ...          ...             ...
94           0.04                 360     596000.0          745000
95           0.03                 240     354650.0          550000
96           0.03                 180     279533.0          485000
97           0.03                 360     247500.0          275000
98           0.03                 360     319410.0          354900

    Combined-Loan-value Ratio
0                         0.0
1                        89.0
2                         0.0
3                        55.0
4                         0.0
..                        ...
94                       80.0
95                       65.0
96                        0.0
97                       90.0
98                        0.0

[99 rows x 9 columns]

In [ ]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(df.dtypes)

Reporting Year                 int64
Action Taken                  object
Total Units                    int64
Loan Purpose                  object
Interest Rate                float64
Loan Term (Months)             int64
Loan Amount                  float64
Property Value                 int64
Combined-Loan-value Ratio    float64
dtype: object

identifying null or missing values

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Reporting Year             99 non-null     int64
 1   Action Taken               99 non-null     object
 2   Total Units                99 non-null     int64
 3   Loan Purpose               99 non-null     object
 4   Interest Rate              98 non-null     float64
 5   Loan Term (Months)         99 non-null     int64
 6   Loan Amount                99 non-null     float64
 7   Property Value             99 non-null     int64
 8   Combined-Loan-value Ratio  99 non-null     float64
dtypes: float64(3), int64(4), object(2)
memory usage: 7.1+ KB
None

In [ ]:
df1 = df.dropna()

replacing the 0 values with the mean for the combine loan value ratio

In [ ]:
df['Combined-Loan-value Ratio']=df['Combined-Loan-value Ratio'].replace(0,df['Combined-Loan-value Ratio'].mean())
df

,Reporting Year,Action Taken,Total Units,Loan Purpose,Interest Rate,Loan Term (Months),Loan Amount,Property Value,Combined-Loan-value Ratio
0,2022,6-Purchased loan,1,31-Refinance,0.03,360,286500.0,328000,44.830101
1,2022,1-Loan originated,1,31-Refinance,0.03,360,438000.0,495000,89.000000
2,2022,6-Purchased loan,1,32-Cash Out,0.03,360,243000.0,430000,44.830101
3,2022,1-Loan originated,1,31-Refinance,0.03,240,199600.0,365000,55.000000
4,2022,6-Purchased loan,1,31-Refinance,0.03,240,267500.0,380000,44.830101
...,...,...,...,...,...,...,...,...,...
94,2022,1-Loan originated,1,32-Cash Out,0.04,360,596000.0,745000,80.000000
95,2022,1-Loan originated,1,32-Cash Out,0.03,240,354650.0,550000,65.000000
96,2022,6-Purchased loan,1,31-Refinance,0.03,180,279533.0,485000,44.830101
97,2022,1-Loan originated,1,1-Home Purchase,0.03,360,247500.0,275000,90.000000
98,2022,6-Purchased loan,1,1-Home Purchase,0.03,360,319410.0,354900,44.830101

string to interger conversion

In [ ]:
#importing labelEncoder from Sklearn
from sklearn.preprocessing import LabelEncoder

In [ ]:
#creating an instance of label encoder
le = LabelEncoder()

label = le.fit_transform(df['Action Taken'])

#printing label
label

array([2, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 2, 0, 2, 0,
       2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 1, 0, 0, 2, 2, 0, 0, 2, 0, 0,
       0, 0, 0, 0, 2, 0, 0, 2, 2, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 2, 2, 0,
       0, 0, 2, 0, 2, 2, 0, 0, 2, 0, 0, 2, 2, 2, 0, 2, 0, 0, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 0, 0, 2, 0, 2])

In [ ]:
df.drop('Action Taken', axis=1, inplace=True)

In [ ]:
df['Action Taken'] = label
df

,Reporting Year,Total Units,Loan Purpose,Interest Rate,Loan Term (Months),Loan Amount,Property Value,Combined-Loan-value Ratio,Action Taken
0,2022,1,31-Refinance,0.03,360,286500.0,328000,44.830101,2
1,2022,1,31-Refinance,0.03,360,438000.0,495000,89.000000,0
2,2022,1,32-Cash Out,0.03,360,243000.0,430000,44.830101,2
3,2022,1,31-Refinance,0.03,240,199600.0,365000,55.000000,0
4,2022,1,31-Refinance,0.03,240,267500.0,380000,44.830101,2
...,...,...,...,...,...,...,...,...,...
94,2022,1,32-Cash Out,0.04,360,596000.0,745000,80.000000,0
95,2022,1,32-Cash Out,0.03,240,354650.0,550000,65.000000,0
96,2022,1,31-Refinance,0.03,180,279533.0,485000,44.830101,2
97,2022,1,1-Home Purchase,0.03,360,247500.0,275000,90.000000,0
98,2022,1,1-Home Purchase,0.03,360,319410.0,354900,44.830101,2

Normalizing data

In [ ]:
from sklearn import preprocessing
import pandas as pd

In [ ]:
df_scaled=preprocessing.scale(df)

In [ ]:
df_scaled['Loan Amount']=df['Property Value']
df=df_scaled

SyntaxError: ignored

In [ ]:
old_cols=df.columns.values
new_cols=['Total Units','Loan Term (Months)','Property Value']
df=df.reindex(columns=new_cols)
df

    Total Units  Loan Term (Months)  Property Value
0             1                 360          328000
1             1                 360          495000
2             1                 360          430000
3             1                 240          365000
4             1                 240          380000
..          ...                 ...             ...
94            1                 360          745000
95            1                 240          550000
96            1                 180          485000
97            1                 360          275000
98            1                 360          354900

[99 rows x 3 columns]

In [ ]:
print(df.rename(columns={'Total Units':'Buildings','Loan Term (Months)':'Loan Duration','Property Value':'Housing Prices'}))

    Buildings  Loan Duration  Housing Prices
0           1            360          328000
1           1            360          495000
2           1            360          430000
3           1            240          365000
4           1            240          380000
..        ...            ...             ...
94          1            360          745000
95          1            240          550000
96          1            180          485000
97          1            360          275000
98          1            360          354900

[99 rows x 3 columns]